<%- include( "../includes/head.ejs" ) %>
<body>
    <!-- header -->
    <%- include( "../includes/admin/admin-navigation.ejs" ) %>
    <!-- /header -->

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
              <%- include("../includes/admin/admin-sidebar.ejs") %>

              <div class="col-lg-9 col-md-9">
                <h4 class="section-title position-relative text-uppercase mb-3">
                  <span class="bg-secondary pr-3">Users</span>
                </h4>
                <div class="row px-xl-5">
                    <% if(userData.length > 0) { %>
                          <table class="table table-image">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                              <% userData.forEach(user => { %>
                                <tr>
                                  <td class="w-25">
                                    <%= user.name %>
                                  </td>
                                  <td class="w-25">
                                    <%= user.phoneNumber %>
                                  </td>
                                  <td class="w-25">
                                    <%= user.email %>
                                  </td>
                                  <td class="w-25">
                                  </td>
                                  <td>
                                      <a 
                                        style="background-color: rgb(255, 217, 0);" 
                                        class="btn btn-outline-dark btn-square" 
                                        href="/shope/admin/seller/<%= user._id %>">
                                        info
                                      </a>
                                  </td>
                                  <!-- <td>
                                    <a
                                    class="btn btn-outline-warning btn-square text-dark"
                                    style="margin-left: 5px; background-color: red;"
                                    href=""
                                    ><i class="fa fa-times"></i>
                                  </td> -->
                                </tr>
                              <% }) %>
                            </tbody>
                          </table>  
                    <% } else { %>
                      <h3>No orders</h3>
                    <% } %>
                  </div>
              </div>
        </div>
    </div>
    <!-- Carousel End -->
    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>