<%- include( "../includes/head.ejs" ) %>
<body>
  <!-- header -->
  <%- include( "../includes/navigation.ejs" ) %>
  <!-- /header -->

  <!-- Shop Start -->
  <div class="container-fluid">
    <div class="row px-xl-5">
      <!-- Shop Sidebar Start -->
      <div class="col-lg-3 col-md-4">
        <!-- filter by category -->
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Filter by Categories</span>
        </h5>
        <div class="bg-light p-4 mb-30">
          <form action="/seller/filteredProducts" method="post">
            <% for( category of categories ) { %>
              <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                  <input 
                    style="margin-bottom: 6px;"
                    class="form-check-input" 
                    name="<%= category.categoryName %>"
                    type="checkbox" 
                    id="inlineCheckbox1" 
                    value="<%= category.id %>"
                  >
                  <label class="form-check-label" for="inlineCheckbox1">
                    <%= category.categoryName %>
                  </label>
              </div>
            <% } %>

            <br />
            <button type="submit" class="btn btn-warning">Filter</button>
          </form>
        </div>
        <!-- /Filter by category -->
      </div>
      <!-- /Shop Sidebar End -->
      <div class="col-lg-9 col-md-9">
        <h4 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">My Products</span>
        </h4>
        <div class="row px-xl-5">
          <% if( products.length > 0 ) { %> 
                <table class="table table-image">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col"></th>
                  </thead>
                  <tbody>
                    <% for( let product of products ) {%>
                      <tr>
                        <td class="w-25">
                          <div class="card" style="width: 18rem;">
                            <img 
                              style="max-width: 130px;"
                              class="card-img-top" 
                              src="/images/<%=product.id%>.jpg" 
                              alt="Card image cap"
                            >
                          </div>
                        </td>
                        <th scope="row"><%= product.title %></th>
                        <td>$<%= product.price %></td>
                        <td>
                          <a
                            class="btn btn-outline-warning btn-square text-dark"
                            href="/seller/detail/<%= product.id %>"
                            >info</a>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>  
          <% } else { %>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <h1>No products available</h1>
          </div>
          <% } %>
        </div>
      </div>

      <!-- Shop Sidebar Start -->
      <!-- <div class="col-lg-9 col-md-9">
        <h4 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">My Products</span>
        </h4>
        <div class="row px-xl-5">
          <% if( products.length > 0 ) { %> <% for( let product of products ) {
          %>
          <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="/images/<%=product.id%>.jpg"
                  alt=""
                />
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href=""
                    ><i class="fa fa-shopping-cart"></i
                  ></a>
                  <a class="btn btn-outline-dark btn-square" href=""
                    ><i class="far fa-heart"></i
                  ></a>
                  <a
                    class="btn btn-outline-dark btn-square"
                    href="/seller/detail/<%= product.id %>"
                    >info</a
                  >
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href=""
                  ><%= product.title %></a
                >
                <div
                  class="d-flex align-items-center justify-content-center mt-2"
                >
                  <h5>$<%= product.price %></h5>
                  <h6 class="text-muted ml-2">
                    <del>$<%= product.price %></del>
                  </h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-center mb-1"
                >
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } else { %>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <h1>No products available</h1>
          </div>
          <% } %>
        </div>
      </div> -->
      <!-- /Shop Sidebar End -->
    </div>
  </div>
  <!-- Shop End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"
    ><i class="fa fa-angle-double-up"></i
  ></a>

  <%- include( "../includes/footer.ejs" ) %>

  <%- include( "../includes/end.ejs" )%>
</body>
