<%- include( "../includes/head.ejs" ) %>
<style>
    /* -------------------------------------
    GLOBAL
    A very basic CSS reset
      ------------------------------------- */
      * {
          margin: 0;
          padding: 0;
          font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
          box-sizing: border-box;
          font-size: 14px;
      }
  
      a {
        text-decoration: none;
      }
  
      img {
          max-width: 100%;
      }
  
      body {
          -webkit-font-smoothing: antialiased;
          -webkit-text-size-adjust: none;
          width: 100% !important;
          height: 100%;
          line-height: 1.6;
      }
  
      /* Let's make sure all tables have defaults */
      table td {
          vertical-align: top;
      }
  
      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */
      body {
          background-color: #f6f6f6;
      }
  
      .body-wrap {
          background-color: #f6f6f6;
          width: 100%;
      }
  
      .container {
          display: block !important;
          max-width: 100% !important;
          margin: 0 auto !important;
          /* makes it centered */
          clear: both !important;
      }
  
      .content {
          max-width: 100%;
          margin: 0 auto;
          display: block;
          padding: 20px;
      }
  
      .hide {
        display: none;
      }
  
      /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
          background: #fff;
          border: 1px solid #e9e9e9;
          border-radius: 3px;
      }
  
      .content-wrap {
          padding: 20px;
      }
  
      .content-block {
          padding: 0 0 20px;
      }
  
      .header {
          width: 100%;
          margin-bottom: 20px;
      }
  
      .footer {
          width: 100%;
          clear: both;
          color: #999;
          padding: 20px;
      }
      .footer a {
          color: #999;
      }
      .footer p, .footer a, .footer unsubscribe, .footer td {
          font-size: 12px;
      }
  
      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1, h2, h3 {
          font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          color: #000;
          margin: 40px 0 0;
          line-height: 1.2;
          font-weight: 400;
      }
  
      h1 {
          font-size: 32px;
          font-weight: 500;
      }
  
      h2 {
          font-size: 24px;
      }
  
      h3 {
          font-size: 18px;
      }
  
      h4 {
          font-size: 14px;
          font-weight: 600;
      }
  
      p, ul, ol {
          margin-bottom: 10px;
          font-weight: normal;
      }
      p li, ul li, ol li {
          margin-left: 5px;
          list-style-position: inside;
      }
  
      /* -------------------------------------
          LINKS & BUTTONS
      ------------------------------------- */
  
  
      .btn- {
          text-decoration: none;
          color: #FFF;
          background-color: #1ab394;
          border: solid #1ab394;
          border-width: 5px 10px;
          line-height: 2;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          display: inline-block;
          border-radius: 5px;
          text-transform: capitalize;
      }
  
      /* -------------------------------------
          OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
      .last {
          margin-bottom: 0;
      }
  
      .first {
          margin-top: 0;
      }
  
      .aligncenter {
          text-align: center;
      }
  
      .alignright {
          text-align: right;
      }
  
      .alignleft {
          text-align: left;
      }
  
      .clear {
          clear: both;
      }
  
      /* -------------------------------------
          ALERTS
          Change the class depending on warning email, good email or bad email
      ------------------------------------- */
      .alert {
          font-size: 16px;
          color: #fff;
          font-weight: 500;
          padding: 20px;
          text-align: center;
          border-radius: 3px 3px 0 0;
      }
      .alert a {
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
      }
      .alert.alert-warning {
          background: #f8ac59;
      }
      .alert.alert-bad {
          background: #ed5565;
      }
      .alert.alert-good {
          background: #1ab394;
      }
  
      /* -------------------------------------
          INVOICE
          Styles for the billing table
      ------------------------------------- */
      .invoice {
          margin: 40px auto;
          text-align: left;
          width: 80%;
      }
      .invoice td {
          padding: 5px 0;
      }
      .invoice .invoice-items {
          width: 100%;
      }
      .invoice .invoice-items td {
          border-top: #eee 1px solid;
      }
      .invoice .invoice-items .total td {
          border-top: 2px solid #333;
          border-bottom: 2px solid #333;
          font-weight: 700;
      }
  
      /* -------------------------------------
          RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 640px) {
          h1, h2, h3, h4 {
              font-weight: 600 !important;
              margin: 20px 0 5px !important;
          }
        
          h1 {
              font-size: 22px !important;
          }
        
          h2 {
              font-size: 18px !important;
          }
        
          h3 {
              font-size: 16px !important;
          }
        
          .container {
              width: 100% !important;
          }
        
          .content, .content-wrap {
              padding: 10px !important;
          }
        
          .invoice {
              width: 100% !important;
          }
      }
  </style>
<body>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
              <%- include("../includes/seller/side-bar.ejs") %>

              <div class="col-lg-9 col-md-9">
                <h4 class="section-title position-relative text-uppercase mb-3">
                    <span class="bg-secondary pr-3">Order Details</span>
                    <a 
                      onclick="showInvoice()" 
                      class="btn btn-warning"
                      id="details-togle">
                        Get Invoice
                    </a>
                    <a 
                        class="btn btn-warning hide" 
                        onclick="printDiv('myTable','Invoice')"
                        id="invoiceDownload">
                          Download
                    </a>
                </h4>
                <div id="details" class="">
                    <div style="width: 100%;" class="details-ctr card shadow-0 border  mb-4 ">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="/images/<%= product.images[0] %>"
                                class="img-fluid" alt="Phone">
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 ">Qty: <%= orderDetails[0].orders.price / product.price %></p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 ">Price: <%= orderDetails[0].orders.price%></p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p style="margin: 0px; padding: 0px;" class="text-muted mb-0 ">Status: <%= orderDetails[0].orders.orderStatus%></p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p style="margin: 0px; padding: 0px;" class="text-muted mb-0 ">
                                    <span style="text-decoration: underline; font-family: Arial, Helvetica, sans-serif;" class="text-dark">Address</span> <br>
                                    home: <%= orderDetails[0].orders.address.home%><br>
                                    street: <%= orderDetails[0].orders.address.street%><br>
                                    district: <%= orderDetails[0].orders.address.district%><br>
                                    state: <%= orderDetails[0].orders.address.state%><br>
                                    country: <%= orderDetails[0].orders.address.country%><br>
                                    zip: <%= orderDetails[0].orders.address.zip%><br>
                                </p>
                            </div>
                            
                          </div>
                          <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p style="margin: 0px; padding: 0px;" class="text-muted mb-0 ">
                                    Date:  <%= orderDetails[0].orders.date %><br>
                                </p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p style="margin: 0px; padding: 0px;" class="text-muted mb-0 ">
                                    Time:  <%= orderDetails[0].orders.time %><br>
                                </p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p style="margin: 0px; padding: 0px;" class="text-muted mb-0 ">
                                    Payment Method:  <%= orderDetails[0].orders.paymentMethod %><br>
                                </p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <button class="btn btn-warning" onclick="history.back()">back</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <!-- invoice -->
                <div class="hide" id="myTable" style="width: 100%;">
                    <table class="body-wrap">
                      <tbody>
                        <tr>
                          <td></td>
                          <td>
                              <div>
                                  <table class="main" width="100%" cellpadding="0" cellspacing="0">
                                      <tbody><tr>
                                          <td class="content-wrap aligncenter">
                                              <table width="100%" cellpadding="0" cellspacing="0">
                                                  <tbody>
                                                    <tr>
                                                      <td class="content-block" style="text-align: center;">
                                                          <h2>Invoice</h2>
                                                      </td>
                                                    </tr>
                                                  <tr>
                                                      <td class="content-block">
                                                          <table class="invoice">
                                                              <tbody>
                                                                <tr>
                                                                    <td>Date: <%= orderDetails[0].orders.date %><br>
                                                                        Time: <%= orderDetails[0].orders.time %><br>
                                                                        Payment Method: <%= orderDetails[0].orders.paymentMethod %>
                                                                    </td>
                                                                </tr>
                                                              <tr>
                                                                  <td>
                                                                      <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                          <tbody>
                                                                            
                                                                            <tr>
                                                                              <td><span class="text-dark" style="font-size: 18px;">Product</span></td>
                                                                              <td><span class="text-dark" style="font-size: 18px;">Quantity</span></td>
                                                                              <td class="alignright"><span class="text-dark" style="font-size: 18px;">Price</span></td>
                                                                            </tr>
                                                                            <br>
                                                                            <tr>
                                                                              <td><%= product.title %></td>
                                                                              <td><%= orderDetails[0].orders.price / product.price %></td>
                                                                              <td class="alignright"><%= product.price %></td>
                                                                            </tr>
                                                                            <br>
                                                                            <tr class="total">
                                                                              <td class="alignright" width="80%">Total</td>
                                                                              <td></td>
                                                                              <td class="alignright"><%= product.price * (orderDetails[0].orders.price / product.price) %></td>
                                                                            </tr>
                                                                      </tbody></table>
                                                                  </td>
                                                              </tr>
                                                          </tbody></table>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                          </td>
                          <td></td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>

                
                <!-- /invoice -->
              </div>
        </div>
    </div>
    <!-- Carousel End -->

    <script>
        var doc = new jsPDF();
      
      function saveDiv(divId, title) {
      doc.fromHTML(`<html><head><title>${title}</title></head><body>` + document.getElementById("myTable").innerHTML + `</body></html>`);
      doc.save('div.pdf');
      }
      
      function printDiv(divId,
       title) {
      
       let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
      
       mywindow.document.write(`<html><head><title>${title}</title>`);
       mywindow.document.write('</head><body >');
       mywindow.document.write(document.getElementById(divId).innerHTML);
       mywindow.document.write('</body></html>');
      
       mywindow.document.close(); // necessary for IE >= 10
       mywindow.focus(); // necessary for IE >= 10*/
      
       mywindow.print();
       mywindow.close();
      
       return true;
      }

      function showInvoice() {
        let txt = document.getElementById('details-togle').innerText
        if(txt == "GET INVOICE") {
          document.getElementById('myTable').classList.remove('hide');
          document.getElementById('details').classList.add('hide');
          document.getElementById('invoiceDownload').classList.remove('hide');
          document.getElementById('details-togle').innerText = "DETAILS";
        } else {
          document.getElementById('myTable').classList.add('hide');
          document.getElementById('details').classList.remove('hide');
          document.getElementById('invoiceDownload').classList.add('hide');
          // document.getElementById('download-invoice').classList.remove('hide');
          document.getElementById('details-togle').innerText = "GET INVOICE";
        }
      }
      </script>
    
    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>