<%- include( "../includes/head.ejs" ) %>
<body>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->

    <!-- page Condainer -->
    <div class="container-fluid mb-3">
        <!-- page condainer -->
        <div class="row px-xl-5">
              <%- include("../includes/seller/side-bar.ejs") %>

              <div class="col-lg-9 col-md-9">
                <h4 class="section-title position-relative text-uppercase mb-3">
                  <span class="bg-secondary pr-3">Dashboard</span>
                </h4>

                  <!-- graph start  -->
                  <div class="main-panel">
                    <div class="content-wrapper">
                      <!-- all graphs -->
                      <div class="row">
                        <!-- left side graphs -->
                        <div class="col-12 col-xl-6 grid-margin stretch-card">
                          <div class="row w-100 flex-grow">
                            <div class="col-md-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <p class="card-title">Online Payment Vs COD</p>
                                  <div class="row mb-3">
                                    <div class="col-md-7">
                                      <div class="d-flex justify-content-between traffic-status">
                                        <!--  -->
                                      </div>
                                    </div>
                                  </div>
                                  <canvas id="audience-chart"></canvas>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-12 stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <p class="card-title">Profit</p>
                                    <!-- <p class="text-success font-weight-medium">45.39 %</p> -->
                                  </div>
                                  <div class="d-flex align-items-center flex-wrap mb-3">
                                    <h5 class="font-weight-normal mb-0 mb-md-1 mb-lg-0 mr-3">17.247</h5>
                                    <p class="text-muted mb-0">Avg Sessions</p>
                                  </div>
                                  <canvas id="task-chart" height="130"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /left side graphs -->

                        <!-- right side graphs -->
                        <div class="col-12 col-xl-6 grid-margin stretch-card">
                          <div class="row w-100 flex-grow">

                            <!-- income and expences -->
                            <div class="col-md-6 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <p class="card-title">Income and Expences</p>
                                  
                                  <div class="regional-chart-legend d-flex align-items-center flex-wrap mb-1"
                                    id="regional-chart-legend"></div>
                                  <canvas height="335" id="regional-chart"></canvas>
                                </div>
                              </div>
                            </div>
                            <!-- /income and expences -->

                            <!-- orders and cancelled orders graph -->
                            <div class="col-md-6 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body pb-0">
                                  <div class="d-flex align-items-center mb-4">
                                    <p class="card-title mb-0 mr-1">orders and cancelled orders</p>
                                  </div>
                                  <div class="d-flex flex-wrap pt-2">
                                  </div>
                                </div>
                                <canvas height="295" id="activity-chart"></canvas>
                              </div>
                            </div>
                            <!-- /orders and cancelled orders graph -->

                            <!-- to show all order details -->
                            <div class="col-md-12 stretch-card">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                                      <p class="card-title mb-0 mr-1">All order details</p>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                    </div>
                                    <canvas id="balance-chart" height="147"></canvas>
                                  </div>
                                </div>
                            </div>
                            <!-- /to show all order details -->
                          </div>
                        </div>
                        <!-- /right side graphs -->
                      </div>
                      <!-- /all graphs -->

                      <!-- category wase order details -->
                      <div class="row" style="width: 100%;">
                        <div class="col-lg-12 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Category Wase Order details</h4>
                              <div class="table-responsive">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>
                                        Category
                                      </th>
                                      <th>
                                        Percentage
                                      </th>
                                      <th>
                                        Percentage in graph
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% if(categorySales) { %>
                                        <% categorySales.forEach(category => { %>
                                        <tr>
                                          <td>
                                            <%= category._id %>
                                          </td>
                                          <td>
                                            <%= category.count / onePercentage %>%
                                          </td>
                                          <td>
                                            <div class="progress">
                                              <div 
                                                class="progress-bar <% if((category.count / onePercentage) >= 50) { %> bg-success <% } else if( 20 > (category.count / onePercentage)) { %> bg-danger <% } else { %> bg-warning <% } %>" 
                                                role="progressbar" 
                                                style="width: <%= category.count / onePercentage %>%" 
                                                aria-valuenow="25" 
                                                aria-valuemin="0" 
                                                aria-valuemax="100">
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <% }) %>
                                    <% } %>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- category wase order details -->
                    </div>
                  </div>
                  <!-- /graph end -->

              </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
<!-- dashboard templates -->
  <!-- /page Condainer -->
<%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>