<style>
    .hide {
        visibility: hidden;
    }
</style>
<div class="hide" id="placed" style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #e9e965; position: absolute; width: 100%; height: 100%; z-index: 1000;">
    <h1>Order Placed Successfully!</h1>
    <a style="color: black;" href="/">Home</a>
    <a style="color: black;" href="/shope/user/myOrders">Orders</a>
</div>

<%- include( "../includes/head.ejs" ) %>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->

    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-9">
                <div style="height: 0px;">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                    <div class="bg-light p-30 mb-5">

                        <!-- get user address -->
                        <% let index = 0 %>
                        <% if(address) { %>
                            <% address.reverse() %>
                                <% for(address of address) { %>
                                    <% index++; %>

                                    <div class="card">
                                        <div class="card-header">
                                          Address: <%= index %>
                                        </div>
                                        <div class="card-body">
                                            home: <%= address.home %>, street: <%= address.street %>, district: <%= address.district %>, state: <%= address.state %>
                                            zip: <%= address.zip %>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="<%= index %>">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Select an address
                                            </label>
                                          </div>
                                          
                                        </div>
                                      </div>
                                      <% if(index === 3) { break } %>
                                <% } %>
                                <div class="hide alert alert-danger" id="error" role="alert">
                                    make sure you filled all the fields and choosed a payment method
                                </div>
                        <% } else { %>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Home</label>
                                    <input 
                                        id="home" 
                                        class="form-control" 
                                        name="home"
                                        type="text" 
                                        placeholder="123 Street"
                                        required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Street</label>
                                    <input 
                                        name="street" 
                                        id="street"
                                        class="form-control" 
                                        type="text" 
                                        placeholder="123 Street"
                                        required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>District</label>
                                    <input 
                                        name="district" 
                                        id="district"
                                        class="form-control" 
                                        type="text" 
                                        placeholder="Kozhikode"
                                        required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>State</label>
                                    <input 
                                        name="state" 
                                        class="form-control" 
                                        id="state"
                                        type="text" 
                                        placeholder="Kerala"
                                        required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    <input 
                                        name="city" 
                                        class="form-control" 
                                        id="city"
                                        type="text" 
                                        placeholder="Kozhikode"
                                        required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select 
                                        name="country" 
                                        class="custom-select"
                                        id="country"
                                        required>
                                        <option selected>United States</option>
                                        <option>India</option>
                                        <option>China</option>
                                        <option>Pakistan</option>
                                        <option>UK</option>
                                        <option>Afghanistan</option>
                                        <option>Albania</option>
                                        <option>Algeria</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>ZIP Code</label>
                                    <input 
                                        name="zip" 
                                        class="form-control" 
                                        id="zip"
                                        type="text" 
                                        placeholder="123"
                                        required
                                        >
                                </div>
                            </div>
                            <div class="hide alert alert-danger" id="error" role="alert">
                                make sure you choosed an address and payment method
                            </div>
                        <% }  %>

                        <a style="z-index: 1;" href="/shope/user/myAccount" class="btn btn-warning">Add new address</a>
                        <!-- /get user address -->
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-3">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>0</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Discount</h6>
                            <h6 id="discount-price"><%= discount %></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">0</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5><%= cartPrice %></h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 id="hide-min" class="section-title position-relative text-uppercase mb-3"><span id="hide-min" class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Cash On Delivery</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Online Payment</label>
                            </div>
                        </div>
                        <a id="reload" href="/shope/user/payment" hidden>myClick</a>
                        
                        <% if(address) { %>
                            <button 
                                id = "<%= index %>"
                                id = "<%= address %>"
                                class="btn btn-block btn-primary font-weight-bold py-3"
                                onclick="placeOrderOledAddress(id)"
                                >
                                    Place Order
                            </button>
                            <a href="/shope/user/placeOrderGet" id="payment" hidden>payment</a>
                        <% } else { %>
                            <button 
                                onclick="placeOrder()" 
                                class="btn btn-block btn-primary font-weight-bold py-3"
                                >
                                    Place Order
                            </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function placeOrderOledAddress(lengthAddress) {
            let choose = false;
            let flag = false;
            let paymentMethod;
            let discount = document.getElementById("discount-price").innerText;
            const showAlert = document.querySelector("#error");
            for(i = 1; i <= lengthAddress; i++) {
                if(document.getElementById(String(i)).checked === true) {
                    choose = true;
                    break
                }
                if( i == lengthAddress && choose ===  false) {
                    showAlert.classList.remove("hide")
                    setTimeout(()=> {
                        showAlert.classList.add("hide")
                    }, 3000)
                }
            } 
            if(document.getElementById("directcheck").checked === true) {
                        paymentMethod = "cashOnDelivery"
                        flag = true;
                } else {
                    if( document.getElementById("paypal").checked === true) {
                        paymentMethod = "googlePay"
                        flag = true;
                    } else {
                        if( document.getElementById("paypal").checked === true) {
                            paymentMethod = "banktransfer"
                            flag = true;
                        } else {

                            showAlert.classList.remove("hide")
                            setTimeout(()=> {
                                showAlert.classList.add("hide")
                            }, 3000)
                        }
                    }
                }
            if( choose === true && flag === true ) {
                if(paymentMethod === 'cashOnDelivery') {
                    $.ajax({
                        url: `/shope/user/placeOrder`,
                        method: "post",
                        data: {
                            "addressId": i,
                            "paymentMethod": paymentMethod,
                            discount: discount
                        }
                    })
                    let success = document.querySelector("#placed");
                    success.classList.remove("hide");
                } else {
                    $.ajax({
                    url: `/shope/user/placeOrder`,
                    method: "post",
                    data: {
                        'addressId' : i,
                        "paymentMethod": paymentMethod,
                        discount: discount
                        },
                    success: (response => {
                        console.log(response);
                        raszorpayPayment(response);
                    })
                    })
                }
                
                
            }
        }

        function placeOrder() {
            let home = document.getElementById("home").value;
            let street = document.getElementById("street").value;
            let district = document.getElementById("district").value;
            let state = document.getElementById("state").value;
            let city = document.getElementById("city").value;
            let country = document.getElementById("country").value;
            let zip = document.getElementById("zip").value;

            let discount = document.getElementById("discount-price").innerText;

            let paymentMethod;
            let flag;

            const showAlert = document.querySelector("#error")

            const address = {
                home: home,
                street: street,
                district: district,
                state: state,
                city: city,
                country: country,
                zip: zip,
            }
            if(
                home && 
                street && 
                district &&
                state &&
                city &&
                country &&
                zip
                ) {
                    if(document.getElementById("directcheck").checked === true) {
                        paymentMethod = "cashOnDelivery"
                        flag = true;
                    } else {
                        if( document.getElementById("paypal").checked === true) {
                            paymentMethod = "googlePay"
                            flag = true;
                        } else {
                            if( document.getElementById("paypal").checked === true) {
                                paymentMethod = "banktransfer"
                                flag = true;
                            } else {
                                
                                showAlert.classList.remove("hide")
                                setTimeout(()=> {
                                    showAlert.classList.add("hide")
                                }, 3000)
                            }
                        }
                    }
                    
                    if( flag === true ) {
                        if(paymentMethod === 'cashOnDelivery') {
                            $.ajax({
                                url: `/shope/user/placeOrder`,
                                method: "post",
                                data: {
                                    "home": address.home,
                                    "street": address.street,
                                    "city": address.city,
                                    "district": address.district,
                                    "state": address.state,
                                    "country": address.country,
                                    "zip": address.zip,
                                    "paymentMethod": paymentMethod,
                                    discount: discount
                                },
                            })
                            let success = document.querySelector("#placed")
                            success.classList.remove("hide")
                        } else {
                            $.ajax({
                                url: `/shope/user/placeOrder`,
                                method: "post",
                                data: {
                                    "home": address.home,
                                    "street": address.street,
                                    "city": address.city,
                                    "district": address.district,
                                    "state": address.state,
                                    "country": address.country,
                                    "zip": address.zip,
                                    "paymentMethod": paymentMethod,
                                    discount: discount
                                },
                            })
                            let success = document.querySelector("#placed")
                            success.classList.remove("hide")
                            document.getElementById("reload").click();
                        }
                    }
            } else {
                showAlert.classList.remove("hide");
                setTimeout(()=> {
                    showAlert.classList.add("hide")
                }, 3000)
            }
        }

        function raszorpayPayment(order) {
            var options = {
                "key": "rzp_test_UH4ZzIgoWEm5gO", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Big Cart",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    let success = document.querySelector("#placed");
                    success.classList.remove("hide");
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    
                    verifyPayment(response, order);
                },
                "prefill": {
                    "name": "Abdhulla K",
                    "email": "abdhullak149@gmail.com",
                    "contact": "6282679611"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/shope/user/verifPayment',
                data: {
                    payment,
                    order
                },
                method: "post"
            })
        }
    </script>
    <!-- Checkout End -->
    <style>
        @media ( max-width: 767px) {
            #hide-min {
                visibility: hidden;
            }
        }
    </style>

    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>