<%- include( "../includes/head.ejs" ) %>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->

    <style>
        .hide {
            visibility: hidden;
        }
        @keyframes fadeIn {
          from {
            transform: translateX(250px);
            opacity: 0;
          }
          to {
            transform: translateX(0px);
            opacity: 1;
          }
        }
        @keyframes fedOut {
          from {
            transform: translateX(0px);
            opacity: 1;
          }
          to {
            transform: translateX(250px);
            opacity: 0;
          }
        }
        .animate {
          animation: fadeIn 500ms ease-out backwards;
        }
        .out-animate {
            animation: fedOut 500ms ease-in forwards;
        }
    </style>
    <div 
        style="position: absolute; z-index: 100; width: 100%; text-align: center;" 
        class="hide alert alert-danger" 
        role="alert"
        id="remove"
        >
        removed from cart
    </div>

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-9 table-responsive mb-5">
                <!-- cart element table -->
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <% let cartPrice = 0 %>
                    <% if(cart === true) { %>
                        <thead class="thead-dark">
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <% for(cart of cartData[0].products) { %>
                                <% for(product of productsData) { %>
                                    <% if(product.id === cart.productId) { %>
                                        <% cartPrice = Number(cartPrice) + Number(cart.price) %>
                                        <!-- cart table row -->
                                        <tr>
                                            <!-- table colemn for images -->
                                            <td class="align-middle">
                                                <img 
                                                    src="/images/<%=product.images[0]%>" 
                                                    alt="" 
                                                    style="width: 50px;"
                                                >
                                            </td>
                                            <!-- /table colemn for images -->
    
                                            <!-- table colemn for product name -->
                                            <td class="align-middle">
                                                <%= product.title %>
                                            </td>
                                            <!-- /table colemn for product name -->
    
                                            <!-- table colemn for product price -->
                                            <td class="align-middle">
                                                $<%= product.price %>
                                            </td>
                                            <!-- /table colemn for product price -->
    
                                            <!-- table colemn for quantity and quanity buttons -->
                                            <td class="align-middle" id="<%= product.id %>.">
                                                <div 
                                                    class="input-group quantity mx-auto" 
                                                    style="width: 100px;">
                                                    <div class="input-group-btn">
                                                        <div class="input-group-btn">
                                                            <a 
                                                                class="btn btn-sm btn-primary btn-minus"  
                                                                id="<%= product.id %>."
                                                                onclick="decreaseValue(id, '<%= product.price %>')"
                                                                >
                                                              <i class="fa fa-minus"></i>
                                                            </a>
                                                          </div>
                                                    </div>
                                                    <input
                                                      type="text" 
                                                      id="<%= product.id %>" 
                                                      name="quantity"
                                                      class="form-control bg-secondary border-0 text-center form-control form-control-sm bg-secondary border-0 text-center"
                                                      value="<%= cart.quantity %>"
                                                    />
                                                    <div class="input-group-btn">
                                                        <a 
                                                            class="btn btn-sm btn-primary btn-plus" 
                                                            onclick="increaseValue(id, '<%= product.price %>')"
                                                            id="<%= product.id %>"
                                                            >
                                                          <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- /table colemn for quantity and quantity buttons -->
    
                                            <!-- table colemn for total quantity price -->
                                            <td 
                                                class="align-middle" 
                                                id="<%= product.id %>p">
                                                    $<%= cart.price %>
                                            </td>
                                            <!-- /table colemn for total quantity price -->
    
                                            <!-- table colemn for delet product from cart button -->
                                            <td class="align-middle">
                                                <a 
                                                    class="btn btn-sm btn-danger"
                                                    id="<%= product.id %>"
                                                    onclick="removeFromCart(id)"
                                                    >
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <a id="relodMyCart" href="/user/cart" hidden>remove relode</a>
                                            </td>
                                            <!-- /table colemsn for delet product from cart button -->
                                        </tr>
                                        <!-- / cart table row -->
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                    <% } else { %>
                        <h1>Your cart is empty! Add some products</h1>
                    <% } %>
                </table>
                <!-- /cart element table -->
            </div>
            <div class="col-lg-3">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 
                    class="section-title position-relative text-uppercase mb-3">
                        <span class="bg-secondary pr-3">
                            Cart Summary
                        </span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$0</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$0</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5 id="cartPriceShow" class="cartPrice">$<%= cartPrice %></h5>
                            <input hidden type="number" value="<%= cartPrice %>" id="cartPrice">
                        </div>
                        <% if(cart) { %>
                            <a href="/user/checkout?cartPrice=<%=cartPrice%>" class="btn btn-block btn-primary font-weight-bold my-3 py-3">
                                Proceed To Checkout
                            </a>
                        <% } %>
                        <% if(cart === false) { %>
                            <a href="/showProducts" class="btn btn-block btn-primary font-weight-bold my-3 py-3">
                                Brows some products
                            </a>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <!-- script of product quantity buttons -->
    <script>
        function increaseValue(id, price) {
            var value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById(id).value = value;

            // get cart price
            let cartPrice = document.getElementById("cartPrice").value;
            document.getElementById("cartPrice").value = Number(cartPrice) + Number(price);
            document.getElementById("cartPriceShow").innerHTML = Number(cartPrice) + Number(price);
            
            // change the total price of that row
            let totalPrice = value * price
            document.getElementById(id+"p").innerHTML = totalPrice;

            // send request
            $.ajax({
                url: `/user/addToCart/${id}`,
                method: "get"
            })
        }

        function decreaseValue(iD, price) {
            let str = iD.substring(0, iD.length - 1);
            var value = parseInt(document.getElementById(str).value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            if( value > 0 ) {
                document.getElementById(str).value = value;

                // get cart price
                let cartPrice = document.getElementById("cartPrice").value;
                document.getElementById("cartPrice").value = Number(cartPrice) - Number(price);
                document.getElementById("cartPriceShow").innerHTML = Number(cartPrice) - Number(price);

                // totoal price of product
                let totalPrice = price * value;
                let idOfPrice = iD.slice(0,-1)+'p'
                // change the value
                document.getElementById(idOfPrice).innerHTML = totalPrice
                
                $.ajax({
                    url: `/user/decreaseQt/${iD}`,
                    method: "get"
                })
            }
        }

        function removeFromCart(id) {
            let remove = document.querySelector('#remove')
            remove.classList.remove('hide')
            remove.classList.remove('out-animate')
            remove.classList.add('animate')
            $.ajax({
                url: `/user/removeFromCart/${id}`
            })
            setTimeout(() => {
                remove.classList.remove('animate')
                remove.classList.add('out-animate')
                document.getElementById("relodMyCart").click();
            }, 1000)
            setTimeout(() => {
                remove.classList.add('hide')
            }, 2000)
            
        }
    </script>
    <!-- /script of product quantity buttons -->

    
    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>