<%- include( "../includes/head.ejs" ) %>
<body>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- filter by category -->
                <h5 class="section-title position-relative text-uppercase mb-3">
                  <span class="bg-secondary pr-3">Filter by Categories</span>
                </h5>
                <div class="bg-light p-4 mb-30">
                  <form action="/filterProducts" method="post">
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="all"
                        class="custom-control-input"
                        id="price-all"
                      />
                      <label class="custom-control-label" for="price-all">All</label>
                      <span class="badge border font-weight-normal">1000</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="menDress"
                        class="custom-control-input"
                        id="price-1"
                      />
                      <label class="custom-control-label" for="price-1"
                        >Men Dress</label
                      >
                      <span class="badge border font-weight-normal">150</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="womenDress"
                        class="custom-control-input"
                        id="price-2"
                      />
                      <label class="custom-control-label" for="price-2"
                        >Women Dress</label
                      >
                      <span class="badge border font-weight-normal">295</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="kidsDress"
                        class="custom-control-input"
                        id="price-3"
                      />
                      <label class="custom-control-label" for="price-3"
                        >Kids Dress</label
                      >
                      <span class="badge border font-weight-normal">246</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="electronics"
                        class="custom-control-input"
                        id="price-4"
                      />
                      <label class="custom-control-label" for="price-4"
                        >Electronics</label
                      >
                      <span class="badge border font-weight-normal">145</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                    >
                      <input
                        type="checkbox"
                        name="vegitables"
                        class="custom-control-input"
                        id="color-2"
                      />
                      <label class="custom-control-label" for="color-2"
                        >Vegitables</label
                      >
                      <span class="badge border font-weight-normal">295</span>
                    </div>
        
                    <div
                      class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
                    >
                      <input
                        type="checkbox"
                        name="mobiles"
                        class="custom-control-input"
                        id="price-5"
                      />
                      <label class="custom-control-label" for="price-5">Mobiles</label>
                      <span class="badge border font-weight-normal">168</span>
                    </div>
        
                    <br />
                    <button type="submit" class="btn btn-warning">Filter</button>
                  </form>
                </div>
                <!-- /Filter by category -->
              </div>
              <!-- /Shop Sidebar End -->

            <!-- Shop Sidebar Start -->
            <div class="col-lg-9 col-md-9">
                <!-- filter by category -->
                <h4 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Products</span></h4>
                <div class="row px-xl-5">
                    <% if( products.length > 0 ) { %>
                        <% for( let product of products ) { %>
                            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="/images/<%=product.id%>.jpg" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="/detail/<%= product.id %>">info</a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href=""><%= product.title %></a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>$<%= product.price %></h5><h6 class="text-muted ml-2"><del>$<%= product.price %></del></h6>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small>(99)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    <% } else { %>
                        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                            <h1>No products available</h1>
                        </div>
                    <% } %>
                </div>
                <!-- /Filter by category -->
            </div>
            <!-- /Shop Sidebar End -->
            
        </div>
    </div>
    <!-- Shop End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>